extends _layouts/index.pug

block head
  title Hullo, Web!
  
  meta(name='viewport', content='width=device-width, initial-scale=1')
    
  meta(name='mobile-web-app-capable', content='yes')
  meta(name='theme-color', content='#FFFFFF')
  link(rel='icon', type='image/png', sizes='512x512', href='_assets/favicons/512.png')
  link(rel='icon', type='image/png', sizes='32x32', href='_assets/favicons/32.png')
  link(rel='icon', type='image/png', sizes='16x16', href='_assets/favicons/16.png')
  link(rel='manifest', href='manifest.json')
    
  link(rel='stylesheet', href='./index.css')
  script(type='module', src='./index.js')

block body
  h1 Hullo, Web!
  noscript
    p This app needs JavaScript to work.
